mixin item(name, icon, label, needLogin)
  li(v-if=needLogin ? "datastoreService.globalUser" : "true", :class="{active: mode == '#{name}'}")
    a(@click="mode = '#{name}'") #[span.fa(class="fa-#{icon}")] #{label}

nav.navbar.navbar-inverse.navbar-fixed-bottom
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", @click="navCollapse = !navCollapse")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/#/") #[span.fa.fa-tasks] Evernote Tasklog
    .collapse.navbar-collapse(collapse="navCollapse")
      ul.nav.navbar-nav(@click="navCollapse = true")
        +item("menu", "th-large", "Menu", false)
        +item("timeline", "clock-o", "Timeline", true)
        +item("notes", "files-o", "Notes", true)
        +item("activity", "history", "Activity", true)
        +item("settings", "gear", "Settings", true)
      form.navbar-form.navbar-right
        button.btn.btn-primary(type="button", @click="reload()") Reload
